<footer>
	<div class="container">
		<div class="row example">
			<div class="footer-links-main col-md-4">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">Company</p>
				<ul class="footer-a">
					<!-- <li><a href="/blog" class="footernavlink">Blog</a></li> -->
					<li><a href="/services" class="footernavlink">Services</a></li>
					<li><a href="/about" class="footernavlink">About</a></li>
					<li><a href="/contact" class="footernavlink">Contact</a></li>
				</ul>
      </div>
			<div class="footer-links-main col-md-4">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">Contact</p>
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;<span class="footer-phone-number">+91 9963805403</span></li>
					<li><a class="footernavlink" href="mailto:satyasaisri@ikyam.com"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;satyasaisri@ikyam.com</a></li>
					
				</ul>
			</div>
			<div class="footer-links-main col-md-4">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">get in touch with us</p>
				<ul class="footer-a">
					<li><a href="https://www.facebook.com/ikyamofficial/" class="footernavlink"><i class="fa fa-facebook-square"></i>&nbsp; Facebook</a></li>
				</ul>
			</div>
    </div>
  </div>
</footer>



